@import url('https://fonts.cdnfonts.com/css/gagalin');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    background-color: gray;
    color: #FFD700;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 80%;
    border-bottom: 1px solid #FFF;
}

header > nav > ul {
    display: flex;
    align-items: center;
}

header > nav > ul > li{
    list-style-type: none;
    margin-left: 50px;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.5rem;
}

#best-movie-div {
    width: 50%;
    padding-bottom: 3rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

#best-movie-div > img {
    width: 15rem;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.categories {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}

section {
    display: flex;
    overflow: hidden;
    margin: auto;
    width: 50rem;
}

section > img {
    clear: both;
    margin-left: 20px;
    width: auto;
    height: auto;
}

.switch {
    margin: auto;
    background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    color: #FFF;
    font-size: 4em;
    cursor: pointer;
}

.title-categorie {
    font-size: 3rem;
}

.switch:last-child {
    margin-left: 20px;
}